<.header>
  New Iteration
  <:subtitle>Use this form to manage iteration records in your database.</:subtitle>
</.header>

<.iteration_form changeset={@changeset} action={~p"/iterations"} />

<.back navigate={~p"/iterations"}>Back to iterations</.back>
