<div class="mx-auto max-w-2xl">
  <.header>
    New Iteration
    <:subtitle>
      Define a clear theme and the purpose behind it. This will help you focus
    </:subtitle>
  </.header>

  <.iteration_form changeset={@changeset} action={~p"/iterations"} />
</div>
