<!DOCTYPE html>
<html lang="en" class="dark [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Mentorio" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased dark:bg-slate-900 dark:text-white">
    <header class="mt-4">
      <div class="flex items-center justify-between container mx-auto py-3 text-sm">
        <div class="flex items-center gap-4 ">
          <a href="/" class="text-2xl flex align-middle ">
            <MentorioWeb.Helper.logo /> <span class="ml-2 leading-10">mentorio</span>
          </a>
        </div>
        <div class="flex items-center gap-5 leading-6 text-zinc-900 dark:text-slate-200">
          <%= if @current_user do %>
            <%= if @conn.request_path != ~p"/dashboard" do %>
              <.link href={~p"/dashboard"} class="leading-6 mr-8">
                <.button>
                  Dashboard
                </.button>
              </.link>
            <% end %>

            <.link href={~p"/users/settings"} class="leading-6" title="settings">
              <.icon name="hero-cog-8-tooth" class="h-5 w-5 hover:bg-indigo-500" />
            </.link>
            <.link href={~p"/users/log_out"} method="delete" class="leading-6" title="logout">
              <.icon name="hero-power" class="h-5 w-5 hover:bg-indigo-500" />
            </.link>
          <% else %>
            <.link href={~p"/users/register"} class=" leading-6   ">
              Register
            </.link>
            <.link href={~p"/users/log_in"} class="leading-6   ">
              Log in
            </.link>
          <% end %>
        </div>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
